aiodns==3.1.1
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
APScheduler==3.10.1
attrs==23.2.0
Babel==2.14.0
bcrypt==4.1.2
bidict==0.22.1
blinker==1.7.0
blosc2==2.5.1
ccxt==3.0.61
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
clarabel==0.6.0
click==8.1.7
cmake==3.28.1
colorama==0.4.6
contourpy==1.2.0
cryptography==42.0.2
cvxpy==1.4.2
cycler==0.12.1
dash==2.15.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==5.4
deprecation==2.1.0
dnspython==2.5.0
ecos==2.0.12
email-validator==2.1.0.post1
et-xmlfile==1.1.0
exchange_calendars==4.5.1
filelock==3.13.1
Flask==3.0.1
Flask-BabelEx==0.9.4
Flask-Login==0.6.3
Flask-Mail==0.9.1
flask-marshmallow==1.1.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.47.2
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2023.12.2
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httpx==0.26.0
ibapi==9.81.1.post1
idna==3.6
importlib-metadata==7.0.1
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jsonpickle==3.0.2
kiwisolver==1.4.5
lxml==5.1.0
MarkupSafe==2.1.4
marshmallow==3.20.2
marshmallow-sqlalchemy==1.0.0
matplotlib==3.8.2
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.4
multitasking==0.0.11
ndindex==1.7
nest-asyncio==1.6.0
networkx==3.2.1
numexpr==2.9.0
numpy==1.26.3
openpyxl==3.1.2
osqp==0.6.4
packaging==23.2
pandas==1.5.3
pandas-datareader==0.10.0
pandas_market_calendars==4.3.3
pandas_ta==0.3.14b0
passlib==1.7.4
patsy==0.5.6
peewee==3.17.0
pillow==10.2.0
plotly==5.18.0
pluggy==1.4.0
polygon==1.1.0
py-cpuinfo==9.0.0
pybind11==2.11.1
pycares==4.4.0
pycparser==2.21
pydantic==2.6.0
pydantic_core==2.16.1
pyluach==2.2.0
pyparsing==3.1.1
pyportfolioopt==1.5.5
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pytest==8.0.0
python-dateutil==2.8.2
python-docx==1.1.0
python-engineio==4.8.2
python-socketio==5.11.0
pytz==2023.3.post1
PyYAML==6.0.1
qdldl==0.1.7.post0
Quandl==3.7.0
QuantStats==0.0.59
regex==2023.12.25
retrying==1.3.4
safetensors==0.4.2
scipy==1.12.0
scs==3.2.4.post1
seaborn==0.13.2
setuptools==69.0.3
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
speaklater==1.3
SQLAlchemy==2.0.25
sseclient-py==1.8.0
statsmodels==0.14.1
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
threadpoolctl==3.2.0
timedelta==2020.12.3
tokenizers==0.15.1
toolz==0.12.1
transformers==4.37.2
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
urllib3==1.26.18
Werkzeug==3.0.1
wsproto==1.2.0
WTForms==3.1.2
yarl==1.9.4
zipp==3.17.0
zope.interface==6.1
gunicorn
